<div class="page-header">
  <h1>Top 3 General Ranking</h1>
</div>

<% all_name = Player.order('score DESC').limit(3).pluck(:email) %>
  <% all_score = Player.order('score DESC').limit(3).pluck(:score) %>
    <% i = 0 %>
      <% all_name.each do |name| %>
        <p class="lead">
          <%= name %>
          <%= "with #{all_score.at(i)}" %>
        </p>
        <br/>
        <% i = i + 1 %><% end %>

        <br/>
        <div class="page-header">
          <h1>Tournament Ranking</h1>
        </div>

        <%= form_tag({controller: "rankings", action: "choose"}, method: "post", remote: true) do %>
        <%= select_tag :tournament_id, options_for_select(Tournament.pluck(:id)) %>
        <%= submit_tag("Choose") %>
      <% end %>
      <br/>
      <span id="rankid"></span>
