<div class="page-header">
  <h1><%= @game.name %></h1>
</div>
<p class="lead">
  Description :
  <%= @game.description %>
</p>
<ul class="lead">
  Tournament game with
  <%= @game.name %>
  :
  <% @game.tournaments.uniq.each do |tournament| %>
    <li class="h4"><%= link_to tournament.title, tournament_path(tournament) %></li>
  <% end %>
</ul>
<br/>
<a class="pull-right" href="<%= edit_game_path %>">
  <button type="button" class="btn btn-sm btn-default"><%= fa_icon "edit 2x" %></button>
</a>
<a class="pull-right" href="<%= games_path %>">
  <button type="button" class="btn btn-sm btn-default"><%= fa_icon "reply-all 2x" %></button>
</a>
<%= link_to game_path(@game), :confirm => 'Are you sure?', :method => :delete do %>
<%= content_tag :button, "", :class => "btn btn-sm btn-default pull-right fa fa-minus fa-2x" %>
<% end %>
